/abi
/art
/bionic
/bootable
/build
/cts
/dalvik
/developers
/development
/device
/docs
/external
/frameworks
/hardware
/kernel
/libcore
/libnativehelper
/ndk
/out
/packages
/pdk
/prebuilts
/RKDocs
/rkst
/rockdev
/RKTools
/sdk
/system
/tools
/u-boot
/vendor
/.repo
